
h1{
    color: rgb(255, 0, 242);
    font-family: fantasy;
}

label{
    color: rgb(119, 0, 255);
    font-family: fantasy;
}

.input-login{
    width: 170px;
    outline: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 25px;
    border-radius: 20px;
    border-color: rgb(252, 6, 100)
}

.submit{
    background-color: purple;
    height: 35px;
    width: 120px;
    border-radius: 50px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    color: pink;
    cursor: pointer;
}

form{
    width: 300px;
    background-color: rgb(127, 255, 244);
    padding: 50px;
    margin: auto;
    margin-top: 100px;
    border-radius: 60px;
}






